body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #d5d8df;
}

canvas {
	border: 0px solid black;
}

#board.game-is-over {
	opacity: 0.30;
	margin-top: 0;
	border: 1px solid #d5d8df;
}

#board.game-is-not-over {
	opacity: 1;
	margin-top: 2%;
	border: 1px solid white;
}

#board {
	-webkit-transition: all 1s ease-out;
	/*margin: 10px;*/
}

#available-pieces {
	/*width: 400px;*/
	/*float: right;*/
	margin-top: 2%;
	/*border: 1px solid red;*/
}

.available {
	opacity: 0.8;
}

.not-available {
	opacity: 0.1;
}

.playable {
	opacity: 1;
}

.not-playable {
	opacity: 0.4;
}

#submit {
	margin: 10px;
	width:50px;
	height:50px;
}

#initialization {
	/*border: 1px solid red;*/
}

img {
	/*border: 1px solid gray;*/
}

#messages {
	padding: 0.5%;
	background-color: #585f65;
	font-size: 85%;
	font-weight: bolder;
	color: #eea435;
}

@-webkit-keyframes message-animation {
	from {
		opacity:0.0;
	}
	to {
		opacity: 1.0;
	}
}

#last-message {
	-webkit-animation-name: message-animation;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
}