body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*background-color: #d5d8df;*/
	background-color: #a0a6ab;
}

#available-pieces { /*
	background-color: #a0a6ab;
	*/
	
}

canvas { /*
	border: 3px solid white;
	*/
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

#content {
	/*margin-top: 1%;*/
	margin: 40px;
}

#truc {
	width: 1274px;
	margin: 0 auto;
	padding: 10px;
	/*
	border: 1px solid red;
	*/
}

#left {
	float: left;
	/*
	width: 660px;
	*/
	width: 291px;
	/*
	margin: 10px;
	margin-top: 5px;
	*/
	/*
	padding: 10px;
	*/
	/*
	border: 1px solid black;
	*/
	height: 683px;
	overflow: hidden;
	-webkit-transition: all 1.2s ease-out;
}

#middle {
	margin-left: 25px;
	margin-right: 25px;
	/*
	padding: 10px;
	*/
	float: left;
}

#right { /*
	margin: 10px;
	padding: 10px;
	*/
	/*
	margin-top: 9px;
	margin-left: 6px;
	*/
	float: left;
	/*
	border: 1px solid black;
	*/
}

#remaining-pieces {
	margin: 10px;
	text-align: left;
	/*
	border: 1px solid black;
	*/
	/*
	width: 568px;
	*/
	width: 266px;
	/*
	width: 372px;
	*/
}

#Blue,#Yellow,#Green,#Red {margin 0;padding 0;
	
}

#play-again {
	margin: 10px;
	/*
	float: right;
	*/
}

img {
	margin: 3px;
	/*
	border: 3px solid #efe;
	*/
	-webkit-transition: all 0.4s ease-out;
	-webkit-border-top-right-radius: 16px;
	-webkit-border-bottom-right-radius: 16px;
	-webkit-border-top-left-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
}

/*
#myButton {
	float: left;
}
*/
#pieceToPlay { /*
	-webkit-transition: all 0.6s ease-in-out;
	*/
	-webkit-transition: all 0.35s ease-out;
}

/*
#submit {
	position: relative;
	top: 30px;
	left: -80px;
	float: left;
}
*/
#board { /*-webkit-transition: all 2.5s ease-in-out;*/
	-webkit-transition: all 5s ease-in-out;
}

/*
#board:HOVER {
	cursor: pointer;
}
*/
.over { /*
	border: 8px solid #efe;
	*/
	border: 8px solid #dadfe2;
	opacity: 1;
}

.out { /*
	border: 8px solid #dadfe2;
	*/
	/*
	border: 8px solid #a0a6ab;
	*/
	opacity: 0.5;
}

.opaque {
	opacity: 1;
}

.transparent {
	opacity: 0;
	display: none;
}

.available {
	opacity: 1;
	/*
	border: 3px solid #dadfe2;
	*/
}

.not-available {
	opacity: 0.15;
	/*
	border: 3px solid #efe;
	*/
}

.perfect-match {
	opacity: 1;
	/*
	border: 16px solid #efe;
	*/
}

.clickable {
	cursor: pointer;
}

#skip {
	margin: 10px;
	width: 50px;
	height: 50px;
}

#messages {
	padding: 0.5%;
	/*background-color: #585f65;*/
	background-color: #2a2d30;
	font-size: 100%;
	font-weight: bolder;
	/*color: #eea435;*/
	color: white;
}

@
-webkit-keyframes message-animation {from { opacity:0.0;
	
}

to {
	opacity: 1.0;
}

}
#last-message {
	-webkit-animation-name: message-animation;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
}