body {
	margin: 0 auto;
	padding: 0;
	background-color: #a0a6ab;
}

canvas {
	vertical-align: bottom;
}

img {
	vertical-align: bottom;
	margin: 1px;
	border-radius: 19px;
}

#content {
	margin: 0 auto;
	background-color: #373B3F;
	overflow: hidden;
	width: 320px;
	height: 455px;

	/*
	width: 392px;
	height: 576px;
	*/

	/*
	margin-top: 50px;
	border: 5px solid white;
	border-radius: 10px;
	*/
}

#splash {
	padding: 5%;
	font-family: sans-serif;
	font-size: 200%;
	text-align: center;
	color: white;
	margin-top: 55%;
	height: 100%;
}

#board-container {
	border-top: 1px solid #a0a6ab;
}

#splash img {
	border-radius: 20px;
}

.pieces {
	margin-top: 0px;
}

#blue img {
	border: 2px solid #3971c4;
}
#yellow  img {
	border: 2px solid #eea435;
}
#red  img {
	border: 2px solid #cc2b2b;
}
#green  img {
	border: 2px solid #04a44b;
}

#control-panel {
	
}

#players {
	margin-top: 1px;
}

#Blue {
	background-color: #3971c4;
}

#Yellow {
	background-color: #eea435;
}

#Red {
	background-color: #cc2b2b;
}

#Green {
	background-color: #04a44b;
}

.player {
	width: 25%;
	float: left;
	font-family: sans-serif;
	font-size: 125%;
	text-align: center;
	color: white;
	line-height: 33px;
	height: 33px;
}

.available {
	opacity: 1;
}

.not-available {
	opacity: 0.15;
}

.round {
	border-top-right-radius: 16px;
	border-top-left-radius: 39px;
}