<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=no">
		
		<title>Block+</title>
		
		<meta itemprop="name" content="Block+">
		<meta itemprop="description"
			content="une version du jeu Blokus pour le petit écran !">
		<meta itemprop="image"
			content="http://artefact.hd.free.fr/images/mobile.png">
		
		<meta property="og:title" content="Block+" />
		<meta property="og:description"
			content="une version du jeu Blokus pour le petit écran !" />
		<meta property="og:image"
			content="http://artefact.hd.free.fr/images/mobile.png" />
		
		<link href="../images/favicon.png" rel="shortcut icon" />
		<link href="mobile.css" rel="stylesheet" />
		<link href="mobile-preview.css" rel="stylesheet" />
		
		<script src="../scripts/library/jquery.min.js"></script>
		
		<script src="../scripts/modules2/Blockplus/Application.js"></script>
		<script src="../scripts/modules2/Blockplus/ViewPort.js"></script>
		<script src="../scripts/modules2/Blockplus/PositionFactory.js"></script>
		
		
		<script src="../scripts/modules2/Blockplus/Board.js"></script>
		<script src="../scripts/modules2/Blockplus/BoardRenderer.js"></script>
		<script src="../scripts/modules2/Blockplus/BoardManager.js"></script>
		
		<script src="../scripts/modules2/Blockplus/SelectedPositions.js"></script>
		<script src="../scripts/modules2/Blockplus/ControlPanelManager.js"></script>
		<script src="../scripts/modules2/Blockplus/Game.js"></script>
		<script src="../scripts/modules2/Blockplus/GameState.js"></script>
		<script src="../scripts/modules2/Blockplus/Options.js"></script>
		
		<script src="../scripts/modules2/Blockplus/Piece.js"></script>
		<script src="../scripts/modules2/Blockplus/PieceRenderer.js"></script>
		<script src="../scripts/modules2/Blockplus/PieceManager.js"></script>
		
		<script src="../scripts/modules2/Blockplus/Protocol.js"></script>
		<script src="../scripts/modules2/Blockplus/Client.js"></script>
		
		<script src="../scripts/modules2/Blockplus/AudioManager.js"></script>
	</head>
	<body>
		<div id="content" class="not-visible">
			<div id="splash" onclick="new Blockplus.Application().start();">
				<span>B</span>
				<span style="color: #3971c4">l</span>
				<span style="color: #eea435">o</span>
				<span style="color: #cc2b2b">c</span>
				<span style="color: #04a44b">k</span>
				<span>+</span>
			</div>
			<audio id="test"></audio>			
			<div id="game" class="not-visible">
				<div id="players">
					<div class="Blue"></div>
					<div class="Yellow"></div>
					<div class="Red"></div>
					<div class="Green"></div>
				</div>
				<div class="clear"></div>
				<canvas id="board"></canvas>
				<div class="clear"></div>
				<canvas id="control-panel"></canvas>
				<div id="pieces">
					<div class="Blue"></div>
					<div class="Yellow"></div>
					<div class="Red"></div>
					<div class="Green"></div>
				</div>
				<div class="clear"></div>
			</div>
			<script>
				$(document).ready(function() {
					$("#content").removeClass()					
				});
			</script>			
		</div>
	</body>
</html>