body {
	margin: 0 auto;
	padding: 0;
	background-color: #a0a6ab;
}

canvas {
	vertical-align: bottom;
	cursor: pointer;
}

img {
	vertical-align: bottom;
	margin: 1px;
	border-radius: 19px;

	/*
	border-top-right-radius: 16px;
	border-bottom-right-radius: 39px;
	border-top-left-radius: 39px;
	border-bottom-left-radius: 16px;
	*/
}

#content {
	margin: 0 auto;
	/*
	background-color: #2a2d30;
	*/
	background-color: #373B3F;
	overflow: hidden;
	width: 320px;
	height: 455px;
	width: 392px;
	height: 576px;
	margin-top: 50px;
	border: 5px solid white;
	border-radius: 10px;
}

#splash {
	padding: 5%;
	font-family: sans-serif;
	font-size: 200%;
	text-align: center;
	color: white;
	margin-top: 55%;
	height: 100%;
}

#board-container {
	border-top: 1px solid #a0a6ab;
}

#pieces {
	margin-top: 0px;
}

#pieces img {
	border: 2px solid #3971c4;
}

#splash img {
	border-radius: 20px;
}

#p4 {
	border: 5px solid #3971c4;
}

#p3 {
	border: 5px solid #eea435;
}

#p2 {
	border: 5px solid #cc2b2b;
}

#p1 {
	border: 5px solid #04a44b;
}

#control-panel {
	
}

#players {
	margin-top: 1px;
}

#blue {
	background-color: #3971c4;
}

#yellow {
	background-color: #eea435;
}

#red {
	background-color: #cc2b2b;
}

#green {
	background-color: #04a44b;
}

.player {
	width: 25%;
	float: left;
	font-family: sans-serif;
	font-size: 125%;
	text-align: center;
	color: white;
	cursor: pointer;
	line-height: 33px;
	height: 33px;
}

.available {
	opacity: 1;
}

.not-available {
	opacity: 0.15;
}

.round {
	border-top-right-radius: 16px;
	border-top-left-radius: 39px;
}