body {
	margin: 0 auto;
	padding: 0;
	background-color: #a0a6ab;
}

canvas {
	vertical-align: bottom;
}

img {
	vertical-align: bottom;
	margin: 1px;
	border-radius: 19px;
}

#content {
	margin: 0 auto;
	background-color: #373B3F;
	overflow: hidden;
	width: 320px;
	height: 455px;
	transition: all 1s ease-in-out;
}

#splash {
	padding: 5%;
	font-family: sans-serif;
	font-size: 325%;
	text-align: center;
	color: white;
	margin-top: 63%;
	line-height: 1px;
	height: 100%;
}

#splash img {
	border-radius: 20px;
}

#game {
	transition: all 1s ease-in-out;
}

#players {
	margin-top: 1px;
	transition: all 1s ease-in-out;
}

#players div {
	width: 25%;
	float: left;
	font-family: sans-serif;
	font-size: 125%;
	text-align: center;
	color: white;
	height: 33px;
	line-height: 33px;
	border-top-right-radius: 16px;
	border-top-left-radius: 39px;
	opacity: 0.75;
	cursor: pointer;
}

#players div.Blue {
	background-color: rgba(57, 113, 196, 1);
}

#players div.Yellow {
	background-color: rgba(247, 177, 42, 1);
}

#players div.Red {
	background-color: rgba(204, 43, 43, 1);
}

#players div.Green {
	background-color: rgba(4, 164, 75, 1);
}

#board {
	border-top: 1px solid #a0a6ab;
	border-bottom: 1px solid #a0a6ab;
	transition: all 1s ease-in-out;
}

#pieces {
	
}

#control-panel {
	
}

#pieces div img {
	border: 2px solid #242A30;
}

#pieces div.Blue {
	background-color: rgba(57, 113, 196, 0.45);
}

#pieces div.Yellow {
	background-color: rgba(247, 177, 42, 0.45);
}

#pieces div.Red {
	background-color: rgba(204, 43, 43, 0.45);
}

#pieces div.Green {
	background-color: rgba(4, 164, 75, 0.45);
}

.available {
	opacity: 1;
}

.not-available {
	opacity: 0.25;
}

.not-visible {
	opacity: 0.0;
}

.clear {
	clear: both;
}