body {
	margin: 0 auto;
	padding: 3%;
	background-color: #a0a6ab;
}

canvas {
	vertical-align: bottom;
}

img {
	vertical-align: bottom;
	margin: 1px;
	-webkit-transition: all 0.4s ease-out;
	-webkit-border-top-right-radius: 16px;
	-webkit-border-bottom-right-radius: 16px;
	-webkit-border-top-left-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
}

#content {
	margin: 0 auto;
	width: 400px;
	height: 600px;
	background-color: #2a2d30;
	overflow: hidden;
	border: 8px solid white;
	-webkit-border-radius: 8px;
}

#splash {
	padding: 25px;
	font-family: sans-serif;
	font-size: 200%;
	text-align: center;
	color: white;
	margin-top: 58%;
}

#pieces {
	height: 100%;
}

#control-panel {
	
}

.available {
	opacity: 1;
}

.not-available {
	opacity: 0.15;
}