<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		
		<title>Block+</title>
		
		<link href="../images/favicon.png" rel="shortcut icon" />
		<link href="tippo.css" rel="stylesheet" />
		
		<script src="../scripts/library/jquery.min.js"></script>
		
		<script src="../scripts/modules2/Blockplus/Application.js"></script>
		<script src="../scripts/modules2/Blockplus/ViewPort.js"></script>
		<script src="../scripts/modules2/Blockplus/PositionFactory.js"></script>
		<script src="../scripts/modules2/Blockplus/BoardRenderer.js"></script>
		<script src="../scripts/modules2/Blockplus/Board.js"></script>
		<script src="../scripts/modules2/Blockplus/BoardManager.js"></script>
		
		<!-- 
		<script src="../scripts/modules2/Protocol.js"></script>
		<script src="../scripts/modules2/Client.js"></script>
		<script src="../scripts/modules2/Game.js"></script>
		<script src="../scripts/modules2/Options.js"></script>
		<script src="../scripts/modules2/GameState.js"></script>
		<script src="../scripts/modules/SelectedPositions.js"></script>
		-->
	</head>
	<body>
		<div>
			<canvas id="board" width="320px" height="320px"></canvas>
			<button id="zoom-out" style="float: right;">Zoom Out</button>
		</div>
		<script>
			$(document).ready(new Blockplus.Application().start);
		</script>
	</body>
</html>