<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="./images/favicon.png" />
		<link href="./styles/default.css" rel="stylesheet" type="text/css" />
		<link href="./styles/game.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div>
			<audio id="music">
				<!-- 
	  			<source src="http://goo.gl/P7KN0?file=game.ogg" type="audio/ogg" />
	  			<source src="http://goo.gl/ClJgW?file=game.mp3" type="audio/mp3" />
	  			-->
	  			<!--
				<source src="./audio/game.ogg" type="audio/ogg" />
	  			-->
  				<!--
	   			<source src="http://goo.gl/CLbGU?file=game.ogg" type="audio/ogg" />
	  			<source src="http://goo.gl/jFsXY?file=game.mp3" type="audio/mp3" />
	  			-->
	  			<source src="./audio/game.mp3" type="audio/mp3" />
	  			Your browser does not support HTML5 audio element.
			</audio>		
			<canvas id="board" width="679px" height="679px"></canvas>
			<script src="./scripts/game.js"></script>
		</div>
	</body>
</html>