<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="./images/favicon.png" />
		<link href="./styles/default.css" rel="stylesheet" type="text/css" />
		<link href="./styles/game.css" rel="stylesheet" type="text/css" />
		<script src="./scripts/prototype.js"></script>
	</head>
	<body>
		<div>
			<audio id="music"  preload="auto">
				<source src="./audio/game.ogg" type="audio/ogg"></source>			
	  			<source src="./audio/game.mp3" type="audio/mp3"></source>
			</audio>
		</div>
		<div>
			<canvas id="board" width="679px" height="679px"></canvas>
			<script src="./scripts/game.js"></script>
		</div>
	</body>
</html>