<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="./images/favicon.png" />
		<link href="./styles/default.css" rel="stylesheet" type="text/css" />
		<link href="./styles/init.css" rel="stylesheet" type="text/css" />
		<script src="./scripts/prototype.js"></script>
	</head>
	<body>
		<div id="initialization">
			<canvas id="piece" width="60px" height="60px"></canvas>
			<div id="available-pieces"></div>
		</div>
		<script src="./scripts/modules/Colors.js"></script>
		<script src="./scripts/modules/Position.js"></script>
		<script src="./scripts/modules/CellRendering.js"></script>
		<script src="./scripts/modules/BoardRendering.js"></script>		
		<script src="./scripts/modules/PieceImageManager.js"></script>
	</body>
</html>