<html>
    <head>
        <title>Talk to me...</title>
    </head>
    <body onload="document.getElementById('text').focus()">
        <input onchange="sendText(this);" id="text" style="margin: 15px;" />
        <script>
            var myWebSocket = new WebSocket("ws://artefact.hd.free.fr/talk/tome");
            myWebSocket.onmessage = function(event) {
                document.getElementById('text').value = "";
                showMessage(event.data);
            };
            myWebSocket.onopen = function(event) {
                showMessage("Channel has been open: " + new Date());
            };
            myWebSocket.onclose = function(event) {
                showMessage("Channel has been closed: " + new Date());
            };
            var showMessage = function(message) {
                var div = document.createElement('div');
                div.innerHTML = '>' + message;
                document.body.appendChild(div);
            };
            function sendText(element) {
                myWebSocket.send(element.value);
            }
            
    	</script>
    </body>
</html>