<html>
    <head>
        <title>Talk to me...</title>
    </head>
    <body onload="document.getElementById('user').focus()">
        <input onchange="login(this.value);" id="user" style="margin: 15px;" />
        <br />
        <input onchange="joinRoom(this.value);" id="room" style="margin: 15px;" />
        <script>
            var myWebSocket = new WebSocket("ws://artefact.hd.free.fr/talk/tome");
            
            myWebSocket.onmessage = function(event) {
                showMessage(event.data);
            };
            
            myWebSocket.onopen = function(event) {
                showMessage("Channel has been open: " + new Date());
            };
            
            myWebSocket.onclose = function(event) {
                showMessage("Channel has been closed: " + new Date());
            };
            
            var showMessage = function(message) {
                var div = document.createElement('div');
                div.innerHTML = '>' + message;
                document.body.appendChild(div);
            };
            
            var say = function(message) {
                myWebSocket.send(JSON.stringify(message));
            };
            
            var login = function(name) {
                var message = {
                        type: 'User',
                        data: {
                            name: name    
                        }
                };
                say(message);
            };
            
            var joinRoom = function(ordinal) {
                var message = {
                        type: 'JoinRoom',
                        data: {
                            ordinal: ordinal
                        }
                }
                say(message);
            }                        
            /*
            function test() {
                say("" + new Date());
            }            
            window.setInterval(test,2000);
            */
    	</script>
    </body>
</html>