<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="blockplusComponent" class="org.restlet.ext.spring.SpringComponent">
		<property name="defaultTarget" ref="blockplusApplication" />
	</bean>

	<bean id="blockplusApplication" class="rest.application.BlockplusApplication">
		<property name="root" ref="router" />
	</bean>

	<bean name="router" class="org.restlet.ext.spring.SpringBeanRouter" />

	<bean name="/home" class="rest.resource.BlockplusResource" scope="prototype" autowire="byName" />
	
</beans>